<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>

  <nav class="nav">
    <div class="container">
      <a href="/" class="logo"><img src="/images/logo.png" alt="Yaatra logo"></a>

      <div class="menu">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Destination</a></li>
          <li><a href="">Trekking</a></li>
          <li><a href="">About us</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>

      <div class="login">
        <a href="/login">Sign in</a>
      </div>

    </div>

  </nav>

  <section class="banner">
    <div class="container">
        <div class="tagline">
          <h1 class="tagline-hero">Stay at Home. Far away.</h1>
          <h4 class="tagline-des">Find best homestays and feel like home</h4>
        </div>

    </div>
  </section>





  </body>
</html>
