<div>

    <form action="/login" method="post">
        <input type="email" name="email" placeholder="name">
        <input type="password" name="password" placeholder="password" >
        <input type="submit" name="Login" value="login">

    </form>

</div>